.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.wrapper-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.wrapper-header-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

select:hover {
  border-color: #888;
  background-color: #f1f1f1;
}

select:focus {
  border-color: #007bff;
  background-color: #fff;
}

option {
  padding: 5px;
}
